      <section class="section">
    <div class="container">
      <h2 class="section-title">DELIVERY</h2>
        <ul class="list delivery-list">
          <li class="delivery-list-item">
            <div class="circle"><p class="number">1</p></div>
            <div class="text">
            <p>Choose your bouquet and make an order on website</p>
            </div>
          </li>
          <li class="delivery-list-item">
            <div class="circle"><p class="number">2</p></div>
            <div class="text">
            <p>
              Wait for the call to clarify the details of the order. You can pay online or to the
              courier
            </p>
            </div>
          </li>
          <li class="delivery-list-item">
            <div class="circle"><p class="number">3</p></div>
            <div class="text">
            <p>Wait for the delivery at the selected time or pick up the order from the store</p>
            </div>
          </li>
          <li class="delivery-list-item">
            <div class="circle"><p class="number">4</p></div>
            <div class="text">
            <p>Make someone happy or enjoy yourself</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="delivery-img-box">
        <img
          src="./images/image-delivery-desktop.jpg"
          alt="colorful poppies flowers"
          srcset="./images/image-delivery-desktop@x2.jpg"
          width="320"
          height="135"
          class="delivery-img"
        />
    </div>
    </div>
    </section>
    