    <section class="section">
    <div class="container"></div>
      <h2 class="section-title">DELIVERY</h2>
        <ul class="list delivery-list">
          <li class="delivery-list-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle class="circle" cx="20" cy="20" r="19.5" stroke="black"/>
              <text class="number" x="50" y="50">1</text>
            </svg>
            <p>Choose your bouquet and make an order on website</p>
          </li>
          <li class="delivery-list-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle class="circle" cx="20" cy="20" r="19.5" stroke="black"/>
              <text class="number" x="20" y="20">1</text>
            </svg>
            <p>
              Wait for the call to clarify the details of the order. You can pay online or to the
              courier
            </p>
          </li>
          <li class="delivery-list-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle class="circle" cx="20" cy="20" r="19.5" stroke="black"/>
              <text class="number" x="20" y="20">1</text>
            </svg>
            <p>Wait for the delivery at the selected time or pick up the order from the store</p>
          </li>

          <li class="delivery-list-item">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle class="circle" cx="20" cy="20" r="19.5" stroke="black"/>
              <text class="number" x="20" y="20">1</text>
            </svg>
            <p>Make someone happy or enjoy yourself</p>
          </li>
        </ul>
      </div>
      <div class="">
        <img
          class="delivery-img"
          src="../images/image-delivery-mobile.jpg"
          alt="colorful poppies flowers"
        />
    </div>
    </section>
