<!-- Modal2 Follow to our newsletter-->
<div class="is-hidden backdrop" follow-data-modal>
  <div class="modal">
    <button type="button" class="close-btn" follow-modal-close>
      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15 3L3 15M15 15L3 3L15 15Z"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <div class="modal-center">
      <div>
        <img
          src="./images/tablet-mobile-modal-christie-kim.jpg"
          srcset="./images/tablet-mobile-modal-christie-kim@x2.jpg"
          alt="bouquet of flowers"
        />
        <div>
          <h2>Follow to our newsletter</h2>
          <p class="">
            Be the first to get exclusive offers and the latest news on our product directly in your
            box.
          </p>
          <form>
            <div class="modal-label">
              <label class="modal-label" for="email"> Email </label>
              <div>
                <input
                  class="modal-input"
                  id="email"
                  name="email"
                  type="email"
                  placeholder="Your email"
                  required
                />
              </div>
              <button type="button-send" class="modal-button" follow-modal-close>Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
