<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <footer>
    <div clas="footer-container">
      <div class="list-container">
        <!--logo do ukrycia w mobile i tablet-->
        <div class="logo-svg-footer">
          <svg width="73" height="57">
            <use href="./icons.svg#icon-logo"></use>
          </svg>
        </div>
        <ul class="list">
          <li>
            <p class="footer-p">Navigation</p>
          </li>
          <li><a href="" class="list-points">Anemone</a></li>
          <li><a href="" class="list-points">About us</a></li>
          <li><a href="" class="list-points">Store</a></li>
          <li><a href="" class="list-points">Delivery</a></li>
        </ul>

        <ul class="list">
          <li>
            <p class="footer-p">Opening times</p>
          </li>
          <li class="list-points">Every day <br />9:00-22:00</li>
        </ul>
        <ul class="list">
          <li>
            <p class="footer-p">Contacts</p>
          </li>
          <li>
            <a href="tel:+380631234567" class="list-points"
              >+38 063 123 45 67</a
            >
          </li>
          <li>
            <a href="mailto:anemonestudio@example.com" class="list-points"
              >anemonestudio@example.com</a
            >
          </li>
          <li class="list-points">
            Reitarska Street, 11<br />
            Kyiv, Ukraine
          </li>
        </ul>

        <div class="container-svg">
          <ul class="list svg-icons">
            <li>
              <a href="#">
                <svg class="footer-svg" width="28" height="28">
                  <use href="./icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="#">
                <svg class="footer-svg" width="28" height="28">
                  <use href="./icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
