<header>
  <div class="container header">
    <div class="logo">
      <svg class="logo-icon">
        <use href="./src/images/icons.svg#"></use>
      </svg>
    </div>
    <nav>
      <ul class="menu">
        <li class="menu-anemone">
          <a class="menu-link" href="#anemone">Anemone</a>
        </li>
        <li class="menu-about-us">
          <a class="menu-link" href="#about-us">About us</a>
        </li>
        <li class="menu-store">
          <a class="menu-link" href="#store">Store</a>
        </li>
        <li class="menu-delivery">
          <a class="menu-link" href="#delivery">Delivery</a>
        </li>
        <li class="menu-blog">
          <a class="menu-link" href="#blog">Blog</a>
        </li>
      </ul>
    </nav>
    <ul class="icon">
      <li class="icon-list">
        <a href="tel:">
          <svg class="icon-tel">
            <use href="./src/images/icons.svg#"></use>
          </svg>
        </a>
      </li>
      <li class="icon-list">
        <button class="" type="button">
          <svg class="icon-burger">
            <use href="./src/images/icons.svg#"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
