<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anemone</head>title>
</head>
<body>
     <div class="container">
      <include src="./partials/header.html"></include>
      <include src="./partials/hero.html"></include>
      <include src="./partials/about.html"></include>
      <include src="./partials/store.html"></include>
      <include src="./partials/delivery.html"></include>
      <include src="./partials/blog.html"></include>
    </div>
    <include src="./partials/footer.html"></include>
    <include src="./partials/menu-mobile.html"></include>
    <include src="./partials/modal.html"></include>
</body>
</html>