<div class="menu-mobile js-menu-container" id="mobile-menu">
  <button class="menu-mobile__exit menu-toggle js-close-menu">
    <svg class="menu-mobile__exit-ico" width="24" height="24">
      <use href=""></use>
    </svg>
  </button>
  <ul class="menu-mobile-list">
    <li class="menu-mobile-item menu-toggle js-close-menu">
      <a class="menu-mobile-link" href="#anemone">Anemone</a>
    </li>
    <li class="menu-mobile-item menu-toggle js-close-menu">
      <a class="menu-mobile-link" href="#about-us">About us</a>
    </li>
    <li class="menu-mobile-item menu-toggle js-close-menu">
      <a class="menu-mobile-link" href="#store">Store</a>
    </li>
    <li class="menu-mobile-item menu-toggle js-close-menu">
      <a class="menu-mobile-link" href="#delivery">Delivery</a>
    </li>
    <li class="menu-mobile-item menu-toggle js-close-menu">
      <a class="menu-mobile-link" href="#blog">Blog</a>
    </li>
  </ul>
</div>