*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --text: #000;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  background-color: var(--white);
}

.delivery-container {
  max-width: 480px;
  padding: 0 16px;
  margin: auto;
}

.delivery-section {
  padding: 60px 0;
}

.delivery-section-title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  display: inline-block;
}

.delivery-section-title::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid black;
  top: 12vh;
  width: 50vw;
  right: 5vw;
  left: 6em;
}

.delivery-list-g {
  list-style: none;
}

.delivery-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
}

.delivery-list-item {
  display: flex;
  align-items: center;
  padding-bottom: 5%;
  margin-left: 5%;
}

.delivery-text {
  margin-left: 5vw;
  font-size: 14px;
}

.delivery-circle {
  width: 39px;
  height: 39px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.delivery-number {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.delivery-img-box {
  padding-top: 32px;
}

.delivery-img {
  width: 100%;
  height: auto;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .delivery-container {
    max-width: 768px;
  }

  .delivery-section-title {
    font-size: 44px;
  }

  .delivery-section-title::after {
    top: 15vh;
    width: 65vw;
  }

  .delivery-text {
    font-size: 24px;
  }

  .delivery-circle {
    width: 63px;
    height: 63px;
  }

  .delivery-number {
    font-size: 26px;
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  .delivery-container {
    max-width: 1280px;
  }

  .delivery-section-title::after {
    top: 12vh;
    width: 75vw;
  }

  .delivery-text {
    font-size: 32px;
  }
}
